server:
  port: ${SERVER_PORT:8761}

spring:
  application:
    name: eureka-server
  security:
    user:
      name: eureka
      password: eureka

eureka:
  instance:
    hostname: eureka-server
    prefer-ip-address: false

  client:
    register-with-eureka: false
    fetch-registry: false

  server:
    enable-self-preservation: false
