spring:
  config:
    import: optional:configserver:http://localhost:8888
management:
  endpoints:
    web:
      exposure:
        include: env,health,info
  endpoint:
    env:
      show-values: ALWAYS